<!DOCTYPE html>
<html>
    <head>
        <%= render "grindstone/posts/partials/head" %>
    </head>
    <body>
        <h1><%= Grindstone.config.blog_title %></h1>
        <h2><%= @post.title %></h2>
        <h3><%= @post.grindstone_author.name %></h3>
        <i><%= @post.created_at %></i>
        <div><%= @post.body %></div>
        <%= render "grindstone/posts/partials/comments" %>
        <%= link_to 'Back', posts_path %>

        <footer><%= Grindstone.config.blog_footer %></footer>
    </body>
</html>