<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= Grindstone.config.blog_title %></h1>
        <h2><%= @post.title %></h2>
        <h3><%= @post.grindstone_author.name %></h3>
        <i><%= @post.created_at %></i>
        <div><%= @post.body %></div>
        <%= link_to 'Back', posts_path %>
    </body>
</html>